<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Dojo Weaher Forecast!</h1>
</div>
<div>
  <a [routerLink]="['seattle']">Seattle WA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['sanjose']">San Jose CA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['burbank']">Burbank CA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['dallas']"> Dallas TX</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['washington']">     Washington DC</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['chicago']">Chicago IL</a>
  <br><br>
</div>

<router-outlet></router-outlet>
